<!DOCTYPE html>
<html>
  <head>
    <title>KitabuLendingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Use only the Webpacker stylesheet pack -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">BookLendingApp</a>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <!-- Include the Webpacker JavaScript pack -->
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </body>
</html>
